*, body {
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none;
  overflow-x: hidden;

  &::-webkit-scrollbar {
      display: none;
  }
}

.hide {
  opacity: 0!important;
}

.show {
  opacity: 1!important;
}

@media only screen and (max-width: 1000px){
  html {
    font-size: 14px!important;
  }
}
